click
httmock
khmer
networkx
numpy
pandas
scikit-learn
seaborn
sourmash
tqdm
ipykernel
joblib
notebook
pyarrow
s3fs
fastparquet
pytest
pytest-cov
git+https://github.com/kepbod/maxentpy/
msgpack>=6.0.0
